.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey
}
.logo{
    width: 105px;
}

.nav-items{
    padding: 0px 20px;
}
.Nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style: none
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.nav-items ul li a {
    text-decoration: none;
  }
  
.Rest-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 6px;
    border-radius: 13px;
    width: 280px;
    height: 365px;
    padding: 5px;
}
.res-card h3 ,h4{
list-style:none;
}
.res-card:hover{
    cursor:pointer;
    border: 2px solid green;
}
.shimmer-card{
    border-radius: 13px;
    width: 280px;
    height: 365px;
}

.search{
    padding:10px;
}

.res-logo {
    border-radius: 8px;
    width: 280px;
    height: 170px;
    object-fit: cover; 
}
.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px; 
    cursor: pointer;
}
.filter{
    display: flex;
}

.filter-btn{
    width:250px;
    height:1.5rem;
}

.reseat-btn{
    height:1.5rem;
}
.login-btn{
    font-size: 1.3rem;
    border: 1px solid black;
    cursor: pointer;
    padding:0 1px;
    width: 75px;
    background-color: lightgrey
}